/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #FF0070;
    --title-color: #DB00FF;
    --button-color: var(--accent-color);
    --text-color: #F1B2CE;
    --section-heading-color: var(--accent-color);
    --article-heading-color: #000028;
    --background-color: rgb(0, 1, 34);
    --button-border-color-hover: rgba(255, 0, 112, 0.4);
    --background-image: url('../images/cover-image-dark.png');
  }

  .rec {
    display: block;
  }
}

.theme_dark .rec {
  display: block;
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --button-color: var(--accent-color);
  --text-color: #F1B2CE;
  --section-heading-color: var(--accent-color);
  --background-color: rgb(0, 1, 34);
  --article-heading-color: #000028;
  --button-border-color-hover: rgba(255, 0, 112, 0.4);
  --background-image: url('../images/cover-image-dark.png');
}
